@import "../../styles/Root.scss";

.box {
  margin-bottom: 16px;
  p {
    margin-bottom: 8px;
  }
  input {
    border: 1px solid #707070;
    border-radius: 5px;
    width: 448px;
    height: 56px;
  }
}
